body, html {
  margin: 0;
  padding: 0;
  min-width: 900px;
  background: #849d8f;
  color: #fff;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 22px;
}

.container {
  margin: 0 auto;
  padding: 0 27px;
  width: 1200px;
}

.clearfix {
  display: table;
  clear: both;
  content: "";
}

img {
  min-height: 100%;
  width: auto;
}

.main-header {
  min-height: 74px;
}

.main-navigation {
  float: left;
}

.main-header a {
  color: #fff;
  text-decoration: none;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
}

.main-navigation li {
  display: inline-block;
}

.main-navigation a {

}

.main-header .right-block {
  float: right;
  width: 267px;
  min-height: 32px;
  font-size: 0;
  text-align: right;
}

.main-header .zoom {
  position: relative;
  margin-right: 10px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #a1b5aa;
}

.user-block {
  margin-right: 10px;
}

.user-block a, .basket-block a{
  display: block;
  height: 32px;
  font-size: 14px;
  line-height: 32px;
}

.main-header .zoom,
.main-header .user-block,
.main-header .basket-block {
  display: inline-block;
  vertical-align: top;
}

.main-header .search {
  position: absolute;
  top: 40px;
  display: none;
  font-size: 14px;
}

.main-header .zoom:hover .search {
  display: block;
}

.main-header .work-time {
  display: block;
  text-align: right;
}

.work-time .schedule {
  font-size: 14px;
  line-height: 22px;
}

.work-time .phone {
  font-size: 22px;
  font-weight: 700;
}
