body,
html {
  margin: 0;
  padding: 0;
  min-width: 900px;
  background: #849d8f;
  color: #fff;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 22px;
}

.container {
  margin: 0 auto;
  padding: 0 27px;
  width: 1200px;
}

.clearfix {
  display: table;
  clear: both;
  content: "";
}

img {
  min-height: 100%;
  width: auto;
}

.btn {
  display: inline-block;
  padding: 5px 25px;
  border: none;
  border-radius: 32px;
  background: linear-gradient(to top, #e74a35, #f26843);
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  color: #fff;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  cursor: pointer;
}

.btn:hover {
  background: #f07a63;
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:active {
  background: linear-gradient(to bottom, #e74a35, #f26843);
  -webkit-box-shadow: inset 0 2px 2px rgba(148, 39, 24, 1);
  box-shadow: inset 0 2px 2px rgba(148, 39, 24, 1);
}

.main-header {
  min-height: 74px;
}

.main-header a {
  color: #fff;
  text-decoration: none;
}

.main-navigation {
  float: left;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  font-size: 0;
}

.main-navigation li {
  display: inline-block;
  vertical-align: middle;
}

.main-navigation > ul > li > a:not(.main-logo) {
  position: relative;
  padding: 5px 15px;
  border-radius: 32px;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
}

.main-navigation > ul > li > a:not(.main-logo)::after {
  position: absolute;
  right: 15px;
  bottom: 6px;
  left: 15px;
  height: 1px;
  background: #c2d3ca;
  content: '';
}

.main-navigation > ul > li > a:not(.main-logo):hover::after {
  display: none;
}

.main-navigation > ul > li > a:not(.main-logo):hover {
  background: #f7f6f3;
  color: #333333;
}

.main-navigation .main-logo {
  margin-right: 16px;
}

.main-header .right-block {
  float: right;
  min-height: 32px;
  width: 267px;
  text-align: right;
  font-size: 0;
}

.main-header .zoom {
  position: relative;
  margin-right: 10px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #a1b5aa;
}

.user-block {
  margin-right: 10px;
}

.user-block a,
.basket-block a {
  display: block;
  padding: 6px 15px;
  padding-left: 44px;
  border-radius: 32px;
  background: #a1b5aa;
  font-size: 14px;
  line-height: 20px;
}

.main-header .zoom,
.main-header .user-block,
.main-header .basket-block {
  display: inline-block;
  margin-bottom: 15px;
  vertical-align: top;
}

.main-header .search {
  position: absolute;
  top: 40px;
  display: none;
  font-size: 14px;
}

.main-header .zoom:hover .search {
  display: block;
}

.main-header .work-time {
  display: block;
  text-align: right;
}

.work-time .schedule {
  font-size: 14px;
  line-height: 22px;
}

.work-time .phone {
  position: relative;
  font-weight: 700;
  font-size: 22px;
}

.catalog-navigation-inner {
  position: absolute;
  display: none;
  width: 143px;
  border-radius: 4px;
  background: #f8f7f4;
  -webkit-box-shadow: 0 20px 20px rgba(87, 100, 92, 0.4);
  box-shadow: 0 20px 20px rgba(87, 100, 92, 0.4);
}

.catalog-navigation:hover .catalog-navigation-inner {
  display: block;
}

.catalog-navigation .catalog-navigation-inner li {
  width: 100%;
}

.catalog-navigation .catalog-navigation-inner a {
  display: block;
  padding-left: 20px;
  min-height: 33px;
  color: #343434;
  font-size: 14px;
  line-height: 33px;
}

.catalog-navigation .catalog-navigation-inner li:first-child a {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.catalog-navigation .catalog-navigation-inner li:last-child a {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.catalog-navigation .catalog-navigation-inner li:first-child a {
  position: relative;
  min-height: 38px;
  font-weight: bold;
  line-height: 38px;
}

.catalog-navigation .catalog-navigation-inner li:first-child a::after {
  position: absolute;
  right: 4px;
  bottom: 0px;
  left: 4px;
  width: ;
  height: 1px;
  background: #d1d0ce;
  content: '';
}

.catalog-navigation .catalog-navigation-inner a:hover {
  background: #fbded7;
}

.catalog-navigation .catalog-navigation-inner a:active {
  background: #f6b5a5;
}

.slider-wrapper {
  position: relative;
  margin-top: 300px;
  margin-bottom: 40px;
  min-height: 214px;
  width: 100%;
}

.slider-wrapper p {
  position: absolute;
  width: 700px;
  font-size: 60px;
  line-height: 60px;
  bottom: 45px;
  left: 22%;

}

.slider-wrapper .btn {
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 40%;
  padding: 8px 40px;
  font-size: 32px;
  line-height: 48px;
}

.slider-wrapper .slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

.slider-wrapper .slides {
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: inherit;
  height: inherit;
}

.index > input {
  display: none;
}

#slide1:checked ~ .index-wrapper {
  background: #849d8f url("../img/icecream-double-slide-1.png") 50% 0% no-repeat;
}

#slide2:checked ~ .index-wrapper {
  background: #8996A6 url("../img/icecream-double-slide-2.png") 50% 0% no-repeat;
}

#slide3:checked ~ .index-wrapper {
  background: #9D8B84 url("../img/icecream-double-slide-3.png") 50% 0% no-repeat;
}

.slider-wrapper .slides {
  display: none;
}

#slide1:checked ~ .index-wrapper .slide1,
#slide2:checked ~ .index-wrapper .slide2,
#slide3:checked ~ .index-wrapper .slide3 {
  display: block;
}


.index-wrapper {
  /* задать ширину при уменьшении размера */
}

.slider-controls {
  position: absolute;
}

.slider-wrapper label {
  display: inline-block;
  margin: 170px 8px 0px 0px;
  width: 17px;
  height: 17px;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
}

#slide1:checked ~ .index-wrapper .slider-controls label:nth-of-type(1),
#slide2:checked ~ .index-wrapper .slider-controls label:nth-of-type(2),
#slide3:checked ~ .index-wrapper .slider-controls label:nth-of-type(3) {
  background: #fff;
}
