body,
html {
  margin: 0;
  padding: 0;
  min-width: 900px;
  background: #849d8f;
  color: #fff;
  font-size: 16px;
  font-family: 'Roboto', 'Arial', sans-serif;
  line-height: 22px;
}

.container {
  margin: 0 auto;
  padding: 0 27px;
  width: 1146px;
}

.clearfix::after {
  display: table;
  clear: both;
  content: "";
}

img {
  min-height: 100%;
  width: auto;
}

.btn {
  display: inline-block;
  padding: 5px 25px;
  border: none;
  border-radius: 32px;
  background: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
  background: linear-gradient(to top, #e74a35, #f26843);
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  color: #fff;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  cursor: pointer;
  text-decoration: none;
}

.btn:hover {
  background: #f07a63;
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#e74a35), to(#f26843));
  background: linear-gradient(to bottom, #e74a35, #f26843);
  -webkit-box-shadow: inset 0 2px 2px rgba(148, 39, 24, 1);
  box-shadow: inset 0 2px 2px rgba(148, 39, 24, 1);
}

.main-header {
  position: relative;
  min-height: 74px;
  padding-top: 20px;
  z-index: 100;
}

.main-header a {
  color: #fff;
  text-decoration: none;
}

.main-navigation {
  width: 400px;
  float: left;
  margin-top: 10px;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  font-size: 0;
}

.main-navigation li {
  float: left;
  display: inline-block;
  vertical-align: middle;
}

.main-navigation > ul > li > a {
  position: relative;
  padding: 5px 15px;
  border-radius: 32px;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
}

.main-navigation > ul > li > a::after {
  content: '';
  position: absolute;
  right: 15px;
  bottom: 6px;
  left: 15px;
  height: 1px;
  background: #c2d3ca;
}

.main-navigation > ul > li > a:hover::after {
  display: none;
}

.main-navigation > ul > li > a:hover {
  background: #f7f6f3;
  color: #333333;
}

.main-logo {
  position: relative;
  float: left;
  margin-right: 16px;
  width: 154px;
  height: 64px;
}

.main-logo img {
  position: absolute;
  left: -5px;
  top: -10px;
  width: 154px;
  height: 64px;
}

.main-header .right-block {
  position: relative;
  float: right;
  min-height: 32px;
  width: 267px;
  text-align: right;
  font-size: 0;
}

.main-header .right-block > a {
  cursor: default;
}

.search-wrap {
  position: relative;
  margin-right: 10px;
  width: 32px;
}

.main-header .zoom {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #a1b5aa;
}

.zoom::before {
  content: '';
  position: absolute;
  width: 17px;
  height: 17px;
  background: url("../img/icon-zoom.svg");
  left: 7px;
  top: 7px;
}

.search-wrap:hover .zoom::before {
  content: '';
  position: absolute;
  width: 17px;
  height: 17px;
  background: url("../img/icon-zoom-black.svg") no-repeat;
  left: 7px;
  top: 7px;
}

.user-block  {
  position: relative;
  margin-right: 10px;
}

.user-block::before {
  content: '';
  position: absolute;
  width: 21px;
  height: 19px;
  background: url("../img/icon-sign.svg") no-repeat;
  left: 15px;
  top: 7px;
}

.user-block-wrap:hover .user-block::before {
  content: '';
  position: absolute;
  width: 21px;
  height: 19px;
  background: url("../img/icon-sign-black.svg") no-repeat;
  left: 15px;
  top: 7px;
}

.basket-block  {
  position: relative;
}

.basket-block::before {
  content: '';
  position: absolute;
  width: 21px;
  height: 20px;
  background: url("../img/icon-basket.svg") no-repeat;
  left: 15px;
  top: 7px;
}

.catalog .basket-block-wrap .basket-block::before {
  content: '';
  position: absolute;
  width: 21px;
  height: 20px;
  background: url("../img/icon-basket-full.svg") no-repeat;
  left: 20px;
  top: 11px;
}

.basket-block-wrap:hover .basket-block::after {
  content: '';
  position: absolute;
  width: 21px;
  height: 20px;
  background: url("../img/icon-basket-black.svg") no-repeat;
  left: 15px;
  top: 7px;
}

.catalog .basket-block-wrap .basket-block::after {
  content: '';
  position: absolute;
  width: 21px;
  height: 20px;
  background: url("../img/icon-basket-black.svg") no-repeat;
  left: 15px;
  top: 7px;
}

.user-block,
.basket-block {
  height: 32px;
  line-height: 32px;
  padding-left: 44px;
  font-size: 14px;
  text-align: left;
  border-radius: 32px;
  background: #a1b5aa;
}

.user-block {
  width: 48px;
}

.basket-block {
  width: 73px;
}

.search-wrap,
.user-block-wrap,
.basket-block-wrap {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
  height: 40px;
  cursor: default;
}

.search-wrap:hover .zoom,
.user-block-wrap:hover .user-block,
.basket-block-wrap:hover .basket-block {
 background: #f8f7f4;
 color: #323232;
}

.main-header .search {
  position: absolute;
  top: 40px;
  right: 0;
  display: none;
  font-size: 14px;
  width: 272px;
  height: 70px;
  line-height: 70px;
  border-radius: 4px;
  text-align: center;
  background: #f8f7f4;
}

.right-block input[type="search"] {
  width: 240px;
  border-radius: 4px;
  padding: 6px 10px;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
}


.main-header .search-wrap:hover .search {
  display: block;
}

.user-block-wrap {
  position: relative;
}

.login-form {
  position: absolute;
  width: 242px;
  height: 140px;
  right: 10px;
  top: 40px;
  padding: 20px 15px 15px;
  border-radius: 4px;
  background: #f8f7f4;
  text-align: center;
  display: none;
  z-index: 1;
}

.user-block-wrap:hover .login-form {
  display: block;
}

.login-form .email,
.login-form .password {
  width: 240px;
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 6px 10px;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.login-form .btn {
  float: left;
  width: 102px;
  height: 37px;
}

.login-form .email {
  margin-bottom: 10px;
}

.login-form .password {
  margin-bottom: 15px;
}

.login-form .restore-check-in {
  display: inline-block;
  float: right;
  text-align: left;
}

.login-form .restore,
.login-form .check-in {
  font-size: 13px;
  line-height: 16px;
  color: #333333;
  border-bottom: 1px solid #9d9d9b;
}

.basket-block-wrap {
  position: relative;
}

.basket-block-wrap:hover .card-form {
  display: block;
}

.card-form {
  display: none;
  position: absolute;
  width: 510px;
  padding: 25px 15px 20px;
  right: 0px;
  top: 40px;
  border-radius: 4px;
  background: #f8f7f4;
  z-index: 1;
  color: #333333;
}

.card-table {
  display: table;
  width: inherit;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 15px;
}

.card-form ul {
  display: table-row;
  color: #333333;
}

.card-form ul li {
  display: table-cell;
  font-size: 13px;
  line-height: 16px;
  height: 33px;
  text-align: right;
  padding: 0 5px;
}

.card-form .remove {
  position: relative;
  width: 10px;
  cursor: pointer;
}

.card-form .remove::before {
  content: '';
  position: absolute;
  width: 14px;
  height: 1px;
  left: 0;
  background: #3e3e3e;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.card-form .remove::after {
  content: '';
  position: absolute;
  width: 14px;
  height: 1px;
  left: 0;
  background: #3e3e3e;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.card-form .item-img {
  width: 33px;
  height: 33px;
}

.card-form .item-img img {
  vertical-align: middle;
  width: 33px;
  height: 33px;
}

.card-form .item-name {
  width: 237px;
  text-align: left;
}

.card-form .count {
  width: 122px;
}

.card-form .count span {
  color: #808080;
}

.card-form .price {
  width: 67px;
}

.total-wrap {
  border-top: 1px solid #cacac7;
}

.card-form .total {
  display: inline-block;
  font-size: 15px;
  line-height: 22px;
  font-weight: bold;
  width: 200px;
  padding-top: 12px;
  margin-bottom: 12px;
}

.card-form .btn {
  font-size: 15px;
  padding: 5px 22px;
}

.main-header .work-time {
  position: absolute;
  top: 100%;
  right: 0px;
  text-align: right;
  font-weight: 700;
}

.work-time .schedule {
  font-size: 14px;
  line-height: 22px;
}

.work-time .phone {
  position: relative;
  font-size: 22px;
  line-height: 22px;
}

.main-navigation .catalog-navigation {
  position: relative;
}

.main-navigation .catalog-navigation:hover > a {
  background: #f7f6f3;
  color: #333333;
}

.main-navigation > ul > li > a:active {
  background: #ededed;
  color: #333333;
  -webkit-box-shadow: inset 0 2px 1px  #696969;
  box-shadow: inset 0 2px 1px #696969;
}

.catalog-navigation .catalog-navigation-inner {
  position: absolute;
  display: none;
  min-width: 143px;
  border-radius: 4px;
  background: #f8f7f4;
  left: 0;
  top: 33px;
  -webkit-box-shadow: 0 20px 20px rgba(87, 100, 92, 0.4);
  box-shadow: 0 20px 20px rgba(87, 100, 92, 0.4);
}

.catalog-navigation:hover .catalog-navigation-inner {
  display: block;
}

.catalog-navigation::after  {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  height: 5px;
}

.catalog-navigation .catalog-navigation-inner li {
  width: 100%;
}

.catalog-navigation .catalog-navigation-inner a {
  display: block;
  padding: 0 20px;
  min-height: 33px;
  color: #343434;
  font-size: 14px;
  line-height: 33px;
}

.catalog-navigation .catalog-navigation-inner li:first-child a {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.catalog-navigation .catalog-navigation-inner li:last-child a {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.catalog-navigation .catalog-navigation-inner li:first-child a {
  position: relative;
  min-height: 38px;
  font-weight: bold;
  line-height: 38px;
}

.catalog-navigation .catalog-navigation-inner li:first-child a::after {
  position: absolute;
  right: 4px;
  bottom: 0px;
  left: 4px;
  height: 1px;
  background: #d1d0ce;
  content: '';
}

.catalog-navigation .catalog-navigation-inner a:hover {
  background: #fbded7;
}

.catalog-navigation .catalog-navigation-inner a:active {
  background: #f6b5a5;
}

.slider-wrapper {
  position: relative;
  margin-top: 315px;
  margin-bottom: 40px;
  min-height: 204px;
  width: inherit;
}

.slider-wrapper h1 {
  position: absolute;
  display: inline-block;
  width: 700px;
  font-size: 60px;
  line-height: 60px;
  bottom: 60px;
  left: 227px;
  text-align: center;
}

.slider-wrapper .btn {
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 437px;
  padding: 8px 40px;
  font-size: 32px;
  line-height: 48px;
}

.slider-wrapper .slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

.slider-wrapper .slides {
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: inherit;
  height: inherit;
}

.index > input {
  display: none;
}

#slide1:checked ~ .index-wrapper {
  background: #849d8f url("../img/icecream-double-slide-1.png") 50% 0% no-repeat;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

#slide2:checked ~ .index-wrapper {
  background: #8996A6 url("../img/icecream-double-slide-2.png") 50% 0% no-repeat;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

#slide3:checked ~ .index-wrapper {
  background: #9D8B84 url("../img/icecream-double-slide-3.png") 50% 0% no-repeat;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

.slider-wrapper .slides {
  display: none;
}

#slide1:checked ~ .index-wrapper .slide1,
#slide2:checked ~ .index-wrapper .slide2,
#slide3:checked ~ .index-wrapper .slide3 {
  display: block;
}

.slider-controls {
  position: absolute;
}

.slider-wrapper label {
  display: inline-block;
  margin: 173px 8px 0px 0px;
  width: 17px;
  height: 17px;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

.slider-wrapper label:hover {
  background: #b2c1b7;
}

.slider-wrapper label:active {
  background: #fff;
}

#slide1:checked ~ .index-wrapper .slider-controls label:nth-of-type(1),
#slide2:checked ~ .index-wrapper .slider-controls label:nth-of-type(2),
#slide3:checked ~ .index-wrapper .slider-controls label:nth-of-type(3) {
  background: #fff;
}

.gifts {
  width: inherit;
  min-height: 229px;
  margin-bottom: 40px;
}

.gifts h2 {
  font-size: 35px;
  line-height: 35px;
  margin: 0;
}

.gifts p {
  font-size: 18px;
  line-height: 22px;
}

.gifts .btn {
  float: right;
  margin-top: 40px;
}

.gift {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  min-height: 229px;
  width: 560px;
  padding: 20px;
  border-radius: 13px;
}

.left-gift-content {
  float: left;
  background: url("../img/bg-crimson.png");
}

.right-gift-content {
  float: right;
  background: url("../img/bg-choco.png");
}

.item-catalog {
  width: inherit;
  margin-bottom: 40px;
}

.item-catalog .item {
  position: relative;
  display: inline-block;
  float: left;
  min-height: 315px;
  width: 267px;
  margin-right: 26px;
  text-align: center;
}

.item-catalog .item:nth-child(4n) {
  margin-right: 0;
}

.item-catalog .item .item-img {
  position: relative;
  width: 267px;
  height: 267px;
}

.item-catalog .item img {
  width: 267px;
  height: 267px;
  border-radius: 50%;
}

.item-catalog .item-price {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  margin-bottom: 18px;
  text-shadow: 1px 1px 3px  rgba(49, 50, 53, 0.5);
}

.item-catalog .item-hit {
  position: absolute;
  left: 0;
  top: 0;
}

.item-catalog .item-hit img {
  width: 61px;
  height: 61px;
}

.item-catalog a {
  color: #fff;
  font-size: 16px;
  line-height: 22px;
}

.item-catalog .btn {
  position: absolute;
  right: 30px;
  bottom: -60px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 6px 30px;
  font-size: 16px;
  line-height: 24px;
   display: none;
}

.item-catalog .item .item-wrapper {
  position: relative ;
  width: 267px;
  min-height: 310px;
  border-radius: 4px;
}

.item-catalog .item .item-wrapper:hover::after{
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  display: block;
  width: 287px;
  min-height: calc(100% + 20px);
  opacity: 0.3;
  background: #a7b8ad;
  z-index: 2;
  padding-bottom: 77px;
  border-radius: 4px;
}

.item-catalog .item:hover a {
  text-decoration: none;
}

.item-catalog .item-no-wrapper {
  position: relative;
  z-index: 1;
}

.item-catalog .item:hover .item-no-wrapper {
  z-index: 3;
}

.item-catalog .item:hover .btn {
  display: inline-block;
}

.index .description {
  width: 1104px;
  min-height: 306px;
  padding: 24px 21px;
  background: #eee1c6 url("../img/bg-wafer.jpg");
  color: #000;
  border-radius: 12px;
  margin-bottom: 40px;
}

.index .description h1 {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
}

.description .icon-wrapper {
  float: left;
  width: 539px;
  font-size: 16px;
  line-height: 22px;
  margin-right: 26px;
}

.icon-wrapper p {
  display: inline-block;
  margin: 0;
  margin-left: 56px;
  margin-top: 24px;
}

.icon-wrapper:nth-child(odd) {
  margin-right: 0;
}

.icon-wrapper::before {
  content: '';
  position: absolute;
  width: 60px;
  height: 60px;
}

.icon-icecream::before {
  background: url("../img/icon-Icecream.svg") 0 10px no-repeat;
}

.icon-cow::before {
  background: url("../img/icon-cow.svg") 0 10px no-repeat;
}

.icon-leaf::before {
  background: url("../img/icon-leaf.svg") 0 10px no-repeat;
}

.icon-thermometer::before {
  background: url("../img/icon-thermometer.svg") 0 10px no-repeat;
}

.news-subscribe {
  min-height: 220px;
  width: inherit;
  margin-bottom: 40px;
}

.news-subscribe p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
}

.news-subscribe .news-prevew,
.news-subscribe .subscribe {
  width: 560px;
  height: 220px;
  padding: 23px 21px;
  border-radius: 12px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.news-subscribe .news-prevew {
  float: left;
  background: url("../img/bg-news-prevew.png");
}

.news-subscribe .subscribe {
  float: right;
  background: url("../img/bg-subscribe.png");
}

.news-subscribe .news-prevew p {
  width: 290px;
  margin-bottom: 10px;
}

.news-subscribe .news-prevew a {
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  color: #353535;
  margin-top: 25px;
}

.news-subscribe .subscribe p {
  margin-top: 10px;
}

.news-subscribe .subscribe-email {
  margin-top: 38px;
}

.news-subscribe input[name="email"] {
  width: 366px;
  padding: 10px;
  font-size: 16px;
  line-height: 22px;
  border-radius: 4px;
  border: 1px solid #d3d3d2;
}

.news-subscribe input[name="email"]:hover {
  border: ;
}

.news-subscribe .subscribe .btn {
  margin-left: 10px;
}

.map {
  position: relative;
  height: 430px;
  margin: 0 auto;
  width: 1200px;
}

.map img {
  height: 430px;
  width: 1200px;
}

.map-content {
  position: absolute;
  display: inline-block;
  min-height: 245px;
  width: 252px;
  right: 27px;
  top: 62px;
  color: #000;
  background: #fefefe;
  padding: 30px 25px;
  border-radius: 13px;
}

.map-contact {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 25px;
}

.map-contact:last-of-type {
  margin-bottom: 20px;
}

.map-content span {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.map-content .btn {
  font-size: 17px;
  line-height: 24px;
  padding: 10px 0;
  width: inherit;
}

.main-footer {
  width: inherit;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 25px;
}

.main-footer .footer-content a,
.main-footer .copyright a:not(.logo-htmlacademy) {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #abbcb3;
}

.social {
  width: 189px;
  min-height: 41px;
  float: left;
  font-size: 0;
  margin-top: 19px;
  margin-right: 200px;
}

.social-btn {
  position: relative;
  float: left;
  width: 31px;
  height: 31px;
  margin-right: 15px;
  vertical-align: top;
  border-radius: 50%;
  opacity: 0.8;
  -webkit-box-shadow: 0 0 0 3px #dbe3de;
  box-shadow: 0 0 0 3px #dbe3de;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.social-btn:last-of-type {
  margin-right: 0;
  width: 31px;
  height: 31px;
}

.social-btn:hover  {
  -webkit-box-shadow: 0 0 0 5px #dbe3de;
  box-shadow: 0 0 0 5px #dbe3de;
  opacity: 1;
}

.social-btn:active  {
  -webkit-box-shadow: 0 0 0 5px #dbe3de, inset 0 2px 1px #888888;
  box-shadow: 0 0 0 5px #dbe3de, inset 0 2px 1px #888888;
  opacity: 1;
  -webkit-transition: 0s;
  transition: 0s;
}

.main-footer .social-btn.tw {
  background:url("../img/icon-tw.svg") no-repeat;
}

.main-footer .social-btn.inst {
  background: url("../img/icon-inst.svg") no-repeat;
}

.main-footer .social-btn.fb {
  background: url("../img/icon-fb.svg") no-repeat;
}

.main-footer .social-btn.vk {
  background: url("../img/icon-vk.svg") no-repeat;
}

.main-footer .footer-content {
  position: relative;
  float: left;
  display: block;
  width: 385px;
  min-height: 60px;
  font-size: 13px;
  line-height: 22px;
  margin-top: 12px;
}

.main-footer .footer-content-left {
  position: relative;
  float: left;
  padding-left: 35px;
  margin-right: 32px;
}

.main-footer .footer-content-left .heart-bold {
  position: relative;
  font-weight: bold;
}

.main-footer .footer-content-left .heart-bold::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background: url("../img/icon-heart.svg") no-repeat 0px 0;
  left: -22px;
  bottom: 0px;
}

.main-footer .footer-content-right {
  float: left;
}

.main-footer .copyright {
  float: right;
  font-size: 13px;
}

.main-footer .copyright a {
  font-size: 13px;
}

.main-footer .footer-content a:hover,
.main-footer .copyright a:hover{
  color: #ffbc9e;
  border-color: #ffbc9e;
}


form input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  -webkit-box-shadow: inset 0 0 0 1px #c7c6c5;
  box-shadow: inset 0 0 0 1px #c7c6c5;
}

form input:hover
{
  -webkit-box-shadow: inset 0 0 0 2px #c7c6c5;
  box-shadow: inset 0 0 0 2px #c7c6c5;
}

form input:focus {
  -webkit-box-shadow: inset 0 0 0 2px #8fbdec;
  box-shadow: inset 0 0 0 2px #8fbdec;
}

/* Стили для страницы Каталога */

.catalog-navigation.current > a {
  background: #d07058;
  text-decoration: none;
}

.catalog-navigation.current:hover > a {
  background: #d07058;
  color: #fff;
}

.catalog-navigation.current > a::after {
  display: none;
}

.catalog-navigation-inner a.current {
  background: #d07058;
  color: #fff;
}

.catalog-navigation-inner:hover a.current {
  background: #d07058;
}

.catalog .breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #fff;
  font-size: 14px;
  line-height: 22px;
  margin-top: 7px;
}

.catalog .breadcrumbs li {
  display: inline;
}

.catalog .breadcrumbs a {
  position: relative;
  color: #fff;
  padding-right: 20px;
}

.catalog .breadcrumbs a::after {
  content: '\00BB';
  position: absolute;
  right: 5px;
}

.catalog .breadcrumbs a:hover {
  color: #ffbc9e;
}

.catalog-content-title h1 {
  font-size: 35px;
  line-height: 35px;
  margin: 5px 0 30px;
}

/*--- form ---*/

.catalog .filters {
  position: relative; /*----------------*/
  display: inline-block;
  width: 880px;
  margin-bottom: 40px;
}

.catalog .filter-item {
  float: left;
  margin: 0;
  padding: 0;
  border: none;
  margin: 0 15px 15px 0;
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.catalog .filter-item legend {
  font-size: 14px;
  margin-left: 15px;
  margin-bottom: 5px;
}

.item-field {
  height: 36px;
  line-height: 36px;
  border-radius: 36px;
  background-color: rgba(248, 247, 244, 0.2);
  width: auto;
  padding: 0 15px;
}

.filter-item.item-sort {
  width: 193px;
}

.field-sort {
  position: relative;
}

.field-sort:hover {
  background: #fff;
  color: #000;
}

.select {
  margin: 0 -3px;
  width: 100%;
  color: #fff;
  background-color: transparent;
  height: inherit;
  outline: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.select option {
  padding-left: 15px;
}

.field-sort:hover .select  {
  color: #000;
}

.select-icon::after {
  content: '';
  position: absolute;
  right: 17px;
  top: 16px;
  border-top: 5px solid #fff;
  border-left: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid transparent;
  cursor: pointer;
  pointer-events: none;
}

.field-sort:hover .select-icon::after {
  border-top: 5px solid #000;
}

.filter-item.item-price {
  width: 220px;
}

.field-price {
  position: relative;
}

.item-price-rang {
  position: relative;
  top: 16px;
  height: 4px;
  width: auto;
  background: #cad3cc;
  padding: 0 60px 0 30px;
  cursor: pointer;
}

.item-price-rang-selected {
  position: relative;
  height: 4px;
  width: auto;
  background: #f8f7f4;
}

.item-price-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #f8f7f4;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset hoff voff blur color;
}

.item-price-toggle:hover {
  width: 22px;
  height: 22px;
}

.item-price-toggle.item-price-min {
  left: -10px;
  top: -8px;
}

.item-price-toggle.item-price-min:hover {
  left: -11px;
  top: -9px;
}

.item-price-toggle.item-price-max {
  right: -10px;
  top: -8px;
}

.item-price-toggle.item-price-max:hover {
  right: -11px;
  top: -9px;
}

.filter-item.item-fat {
  font-size:0 ;
  margin-right: 0;
}

.item-fat input {
  display: none;
}

.filter-radio-label {
  position: relative;
  padding-left: 30px;
  font-size: 16px;
  margin-right: 20px;
}

.filter-radio-label:last-child {
  margin-right: 0;
}

.filter-radio-indicator {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  left: 0;
  top: 0;
  -webkit-box-shadow: inset 0 0 0 1px #f8f7f4;
  box-shadow: inset 0 0 0 1px #f8f7f4;
  cursor: pointer;
}

.filter-radio-indicator:hover {
  -webkit-box-shadow: inset 0 0 0 2px #f8f7f4;
  box-shadow: inset 0 0 0 2px #f8f7f4;
}

.filter-radio-label input[type="radio"]:checked + .filter-radio-indicator::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background: #f8f7f4;
  border-radius: 50%;
  left: 5px;
  top: 5px;
}

.filter-radio-label  input[type="radio"]:disabled + .filter-radio-indicator {
  -webkit-box-shadow: inset 0 0 0 1px  #b2c1b7;
  box-shadow: inset 0 0 0 1px #b2c1b7;
}

.filter-radio-label  input[type="radio"]:disabled + .filter-radio-indicator::before {
  background: #b2c1b7;
}

.filter-item.item-check {
  margin-bottom: 0;
}

.filter-check-label {
  position: relative;
  padding-left: 30px;
  margin-right: 20px;
}

.field-check input {
  display: none;
}

.filter-check-indicator {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
  -webkit-box-shadow: inset 0 0 0 1px #f8f7f4;
  box-shadow: inset 0 0 0 1px #f8f7f4;
  cursor: pointer;
  border-radius: 3px;
}

.filter-check-indicator:hover {
  -webkit-box-shadow: inset 0 0 0 2px #f8f7f4;
  box-shadow: inset 0 0 0 2px #f8f7f4;
}

.filter-check-label input[type="checkbox"]:checked + .filter-check-indicator::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 2px;
  background: #f8f7f4;
  left: 4px;
  top: 10px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.filter-check-label input[type="checkbox"]:checked + .filter-check-indicator::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 2px;
  background: #f8f7f4;
  left: 7px;
  top: 9px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.filter-check-label input[type="checkbox"]:disabled + .filter-check-indicator {
  -webkit-box-shadow: inset 0 0 0 1px  #b2c1b7;
  box-shadow: inset 0 0 0 1px #b2c1b7;
}

.filter-check-label input[type="checkbox"]:disabled + .filter-check-indicator::after,
.filter-check-label input[type="checkbox"]:disabled + .filter-check-indicator::before {
  background: #b2c1b7;
}

.filter-item.item-btn {
  margin-right: 0;
  margin-bottom: 0;
  margin-top: 27px;
}

.field-btn {
  display: inline-block;
  color: #fff;
  background: #9aaea3;
  -webkit-box-shadow: inset 0 0 0 2px #fafbfb;
  box-shadow: inset 0 0 0 2px #fafbfb;
  border: none;
  outline: none;
  padding: 0 30px;
  cursor: pointer;
}

.field-btn:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #fafbfb;
  color: #383939;
}


.field-btn:active {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #eaeaea;
  color: #383939;
  -webkit-box-shadow: inset 0 2px 1px #696969;
  box-shadow: inset 0 2px 1px #696969;
}

/*-----------------------------------*/

.catalog .item-catalog .item {
  margin-bottom: 35px;
}

/*------------- пагинация -----------*/

.catalog .pagination {
  display: block;
  min-height: 26px;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.catalog .pagination ul {
  float: right;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.catalog .pagination li {
  float: left;
  height: 26px;
  width: 26px;
  margin-right: 4px;
  list-style: none;
  line-height: 26px;
  font-size: 16px;
  text-align: center;
}

.pagination li:last-child {
  margin-right: 0;
}

.catalog .pagination a {
  display: inline-block;
  width: 26px;
  height: 26px;
  text-decoration: none;
  color: #fff;
  border-radius: 50%;
}

.catalog .pagination a:hover:not(.arrow) {
  background: rgba(255, 255, 255, 0.2);
}

.catalog .pagination .active {
  display: block;
  width: 26px;
  height: 26px;
  color: #353535;
  background: #fff;
  border-radius: 50%;
}

.arrow-prev {
  position: relative;
}

.arrow-prev:after,
.arrow-prev:before {
  content: '';
  position: absolute;
  width: 10px;
  height: 2px;
  background: #fff;
}

.arrow-prev:after {
  left: 0;
  top: 15px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.arrow-prev:before {
  left: 0;
  top: 9px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.arrow-next {
  position: relative;
}

.arrow-next:after,
.arrow-next:before {
  content: '';
  position: absolute;
  width: 10px;
  height: 2px;
  background: #fff;
}

.arrow-next:after {
  right: 0;
  top: 9px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.arrow-next:before {
  right: 0;
  top: 15px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.arrow-active:before,
.arrow-active:after {
  background: rgba(255, 255, 255, 0.2);
}

.catalog .under-pagonation-line {
  background: rgba(255, 255, 255, 0.3);
  height: 2px;
  border: none;
}

.nav-ready {
  position: relative;
}

.nav-ready::before {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0 10px;
  border-radius: 10px 0px 0 0;
  background: rgba(110, 0, 220, 0.5);
  content: 'ready';
  font-size: 13px;
  line-height: 13px;
  color: #fff;
}
